<app-top-navbar></app-top-navbar>
<div class="container-fluid py-5">
  <div class="row py-5 px-5">
    <div class="col-xs-6 col-md-4 pt-2">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src={{track.album_coverart_100x100}} alt="album"/>
      </div>
    </div>
    <div class="col-xs-6 col-md-8 pt-2">
      <div class="row">
        <div class="col">
          <div class="row">
            <h2>{{track.track_name}}</h2>
            <div *ngIf="isUserLoggedIn; then UserTemplate"></div>
            <ng-template #UserTemplate>
              <i (click)="handleRating()" [ngClass]="liked === true ? 'fa-thumbs-down' : 'fa-thumbs-up'"
                 class="fa fa-2x ml-2"></i>
            </ng-template>

          </div>
          <a routerLink="/artist/{{track.artist_id}}"><h4>{{track.artist_name}}</h4></a>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col">
            <h5>Lyrics:</h5>
            <a class="list-group-item flex-column align-items-start" *ngFor="let lyric of lyrics">
              <a>{{lyric}}</a>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-bottom-navbar></app-bottom-navbar>
