<app-top-navbar></app-top-navbar>
<div class="container-fluid py-5">
  <div class="row py-5 px-5">
    <div class="cotainer-fluid pt-2">
      <div class="row">
        <div class="col">
            <h2>{{track.track_name}}</h2>
            <a routerLink="/artist/{{track.artist_id}}"><h4>{{track.artist_name}}</h4></a>
            <div *ngIf="userCode == 2 || userCode == 3; then AdminPremiumUserTemplate"></div>
            <ng-template #AdminPremiumUserTemplate>
              <div class="row pl-2">
                <div class="dropdown">
                  <a class="mx-1 dropdown-toggle" data-toggle="dropdown"><span class="fa fa-thumbs-up smallIcon fa-fw"></span>{{track.likes}}</a>
                  <ul class="dropdown-menu">
                    <li class="list-group-item" *ngFor="let user of likedUsers" routerLink="/user/{{user.userId}}">{{user.username}}</li>
                  </ul>
                </div>
                <div class="dropdown">
                  <a class="mx-1 dropdown-toggle" data-toggle="dropdown"><span class="fa fa-thumbs-down smallIcon fa-fw"></span>{{track.dislikes}}</a>
                  <ul class="dropdown-menu">
                    <li class="list-group-item" *ngFor="let user of dislikedUsers" routerLink="/user/{{user.userId}}">{{user.username}}</li>
                  </ul>
                </div>
                <i (click)="handleRating()" [ngClass]="liked === true ? 'fa-thumbs-up' : 'fa-thumbs-down'"
                   class="fa fa-2x ml-2 largeIcon"></i>
              </div>
              <div class="row pl-3">

                <!--Allow submitting translation only when only when premium or admin user is logged in-->
                <div *ngIf="userCode == 2 || userCode == 3; then PremiumAdminUserAddTranslationTemplate"></div>
                <ng-template #PremiumAdminUserAddTranslationTemplate>
                  <button class="btn btn-info mr-2 my-1" data-toggle="modal" data-target="#submitTranslationModal">Submit Translation</button>
                </ng-template>

                <div class="btn-group dropright">
                  <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split my-1"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add to playlist
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter">Create new</button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item"
                            *ngFor="let playlist of playlists"
                            (click)="addToPlaylist(playlist._id)">
                      {{playlist.name}}
                    </button>
                    </div>
                </div>
              </div>
            </ng-template>
          <div *ngIf="userCode ==  1; then FreeUserTemplate"></div>
            <ng-template #FreeUserTemplate>
            <div class="row pl-2">
                <a class="mx-1"><span class="fa fa-thumbs-up smallIcon fa-fw"></span>{{track.likes}}</a>
                <a class="mx-1"><span class="fa fa-thumbs-down smallIcon fa-fw"></span>{{track.dislikes}}</a>
                <i (click)="handleRating()" [ngClass]="liked === true ? 'fa-thumbs-up' : 'fa-thumbs-down'"
                   class="fa fa-2x ml-2 largeIcon"></i>
            </div>
            <div class="row pl-3">

              <!--Allow submitting translation only when only when premium or admin user is logged in-->
              <div *ngIf="userCode == 2 || userCode == 3; then PremiumAdminUserAddTranslationTemplate"></div>
              <ng-template #PremiumAdminUserAddTranslationTemplate>
                <button class="btn btn-info mr-2 my-1" data-toggle="modal" data-target="#submitTranslationModal">Submit Translation</button>
              </ng-template>

              <div class="btn-group dropright">
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split my-1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Add to playlist
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter">Create new</button>
                  <div class="dropdown-divider"></div>
                  <button class="dropdown-item"
                          *ngFor="let playlist of playlists"
                          (click)="addToPlaylist(playlist._id)">
                    {{playlist.name}}
                  </button>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col">
            <h5>Lyrics:</h5>
            <ul>
              <li class="flex-column align-items-start" *ngFor="let lyric of lyrics">
                <label>{{lyric}}</label>
              </li>
            </ul>
        </div>
        <div class="col">
          <h5>Translation:</h5>
          <ul>
            <li class="flex-column align-items-start" *ngFor="let trLine of tempTranslationArray">
              <label>{{trLine}}</label>
            </li>
          </ul>
        </div>
      </div>
      <!--Show translators only when premium or admin user is logged in-->
      <div *ngIf="userCode == 2 || userCode == 3; then PremiumAdminUserViewTranslatorsTemplate"></div>
      <ng-template #PremiumAdminUserViewTranslatorsTemplate>
        <div class="row py-3">
        <div class="borderedContainer w-100">
          <div class="title-label">
            <h6 class="boxLabel">Translators:</h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let user of track.lot">
              <div class="d-flex w-100 justify-content-left flex-nowrap" >
                <a class="mb-1 mx-2" routerLink="/user/{{user.userId}}">
                  <i class="fa fa-user fa-1x mr-2"></i>
                  <label>
                    {{user.username}}
                  </label>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      </ng-template>
    </div>
  </div>


  <!--Model dialog for creating a new playlist-->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Create playlist</h5>
        </div>
        <div class="modal-body">
          <input [(ngModel)]="newPlaylist.name"
                 placeholder="New Playlist"
                 class="form-control my-2"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" (click)="createAndAddToPlaylist()" data-dismiss="modal" class="btn btn-success">Create</button>
        </div>
      </div>
    </div>
  </div>

  <!--Model dialog for submitting translation-->
  <div class="modal fade" id="submitTranslationModal" tabindex="-1" role="dialog" aria-labelledby="submitTranslationCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="submitTranslationTitle">Translation:</h5>
        </div>
        <div class="modal-body">
          <textarea [(ngModel)]="tempTranslation"
                    rows="5"
                    placeholder="Type translation here line by line"
                    class="form-control my-2">

          </textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" (click)="submitTranslation()" data-dismiss="modal" class="btn btn-success">Save Changes</button>
        </div>
      </div>
    </div>
  </div>

</div>
<app-bottom-navbar></app-bottom-navbar>
