.LandingText {
  color: white;
  font-family: "HelvLight";
  font-weight: 700;
  font-size: 30px;
}
.custom-nav-bg {
  opacity: 100;
}
.LandingTextUserName {
  color: white;
  font-family: "HelvLight";
  font-weight: 500;
  font-size: 15px;
}
