.LandingText {
  color: black;
  font-family: "HelvLight";
  font-weight: 300;
  font-size: 20px;
}
.custom-nav-bg {
  background-color: aqua;
}
.LandingTextUserName {
  color: black;
  font-family: "HelvLight";
  font-weight: 300;
  font-size: 15px;
}
