<app-top-navbar></app-top-navbar>
<div class="container-fluid py-5">
  <div class="row py-5 px-5">
    <div class="col-xs-4 col-md-4">
      <h5 class="pt-4">Users:</h5>
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let user of users">
          <div class="d-flex w-100 justify-content-between flex-nowrap" >
            <div class="row mx-1">
              <a class="mb-1 mx-2"><h5>{{user.username}}</h5></a>
            </div>
            <div class="row mx-1">
              <a class="mb-1 mx-2"><h5>{{user.userType}}</h5></a>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-xs-4 col-md-4">
      <h5 class="pt-4">Songs:</h5>
      <div class="container justify-content-between">
          <table>
            <tbody>
            <tr *ngFor="let track of tracks">
              <td>
                <a routerLink="/track/{{track.track_id}}">{{track.track_name}}</a>
              </td>
              <td>
                <p class="px-1"><span class="fa fa-thumbs-up fa-fw"></span>{{track.likes}}</p>
                <p class="px-1"><span class="fa fa-thumbs-down fa-fw"></span>{{track.dislikes}}</p>
              </td>
              <td>
                <i class="fa fa-times"></i>
              </td>
            </tr>
            </tbody>
          </table>
      </div>
    </div>
    <div class="col-xs-4 col-md-4">
      <h5 class="pt-4">Users:</h5>
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let user of users">
          <div class="d-flex w-100 justify-content-between flex-nowrap" >
            <div class="row mx-1">
              <a class="mb-1 mx-2"><h5>{{user.username}}</h5></a>
            </div>
            <div class="row mx-1">
              <a class="mb-1 mx-2"><h5>{{user.userType}}</h5></a>
            </div>
          </div>
        </a>
      </div>
    </div>
    </div>
</div>
<app-bottom-navbar></app-bottom-navbar>
