<app-top-navbar></app-top-navbar>
<div class="container-fluid page-container">
  <div class="row">
    <div class="col-xs-6 col-md-6 custom-list-box-400">
      <div class="borderedContainer">
        <div class="title-label">
          <h6 class="boxLabel">Add User:</h6>
        </div>
        <div *ngIf="!isValidUserNamePassword; then InvalidUsernamePassword"></div>
        <ng-template #InvalidUsernamePassword>
          <div class="alert alert-danger" role="alert">
            Please enter valid username and password!
          </div>
        </ng-template>
        <div *ngIf="isUsernameInUse; then UsernameInUse"></div>
        <ng-template #UsernameInUse>
          <div class="alert alert-danger" role="alert">
            Username is already in use. Please choose another username!
          </div>
        </ng-template>
        <div *ngIf="isPasswordNotSame; then DifferentPassword"></div>
        <ng-template #DifferentPassword>
          <div class="alert alert-danger" role="alert">
            Passwords should be same!
          </div>
        </ng-template>

        <input [(ngModel)]="username"
               [disabled] = "isAdminUserNotLoggedIn"
               type="text"
               placeholder="username"
               class="form-control my-2"/>
        <input [(ngModel)]="password"
               [disabled] = "isAdminUserNotLoggedIn"
               type="password"
               required
               placeholder="password"
               class="form-control my-2"/>
        <input [(ngModel)]="password2"
               [disabled] = "isAdminUserNotLoggedIn"
               type="password"
               required
               placeholder="verify password"
               class="form-control my-2"/>
        <select [(ngModel)]="selectedUserType" [disabled] = "isAdminUserNotLoggedIn"  required class="form-control my-2">
          <option value="Admin">Admin</option>
          <option value="User">User</option>
          <option value="Premium">Premium User</option>
        </select>
        <button (click)="register(username, password, password2,selectedUserType)"
                [disabled] = "isAdminUserNotLoggedIn"
                class="btn btn-primary btn-block my-2">
          Add User
        </button>
        <button id="openAlertButton"
                [hidden]="true"
                data-toggle="modal"
                data-target="#userAddedAlert">
          Alert
        </button>
      </div>
    </div>
    <div class="col-xs-6 col-md-6 custom-list-box-400">
      <div class="borderedContainer">
        <div class="title-label">
          <h6 class="boxLabel">Users: (click to edit)</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let user of users">
            <div class="d-flex w-100 justify-content-between flex-nowrap" >
              <a class="mb-1 mx-2" routerLink="/user/{{user._id}}/edit">
                <i class="fa fa-user fa-1x mr-2"></i>
                <label>
                  {{user.username}}
                </label>
                <small>
                  type: {{user.userType}}
                </small>
              </a>
              <i (click)="deleteUser(user._id)" class="fa fa-times fa-2x"></i>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="userAddedAlert" tabindex="-1" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">User added sucessfully!</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-bottom-navbar></app-bottom-navbar>
