.list-group {
  border: 1px solid black;
}
.fa-thumbs-down{
  color: red;
  cursor: pointer;
}
.fa-thumbs-up {
  color: blue;
  cursor: pointer;
}
table{
  width: 100%;
  border: 1px solid black;
}
td{
  padding: 5px;
  border-bottom: 1px solid grey;
}
