<app-top-navbar></app-top-navbar>
<div class="container-fluid page-container">
  <div class="row justify-content-center py-1 pb-1">
    <h1 class="LandingText">{{artistName}}</h1>
  </div>
</div>
<div class="container-fluid pt-1 pb-5 px-5">
  <div class="row justify-content-center mx-1">
    <h2>Albums</h2>
  </div>
  <div class="card-columns"
       infinite-scroll
       [infiniteScrollDistance]="0.1"
       [infiniteScrollUpDistance]="2"
       [infiniteScrollThrottle]="50"
       (scrolled)="onScroll()" >
    <div class="card" style="width: 15rem;" *ngFor="let album of albums">
    <img class="card-img-top" src={{album.album_coverart_100x100}} alt="test"/>
    <div class="card-body">
      <h5 class="card-title">
        <a routerLink="/album/{{album.album_id}}">{{album.album_name}}</a>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        {{album.album_release_date}}
        <span class="badge badge-info float-right">
                                {{album.album_track_count}}
                            </span>
      </h6>
    </div>
  </div>
  </div>
</div>
<app-bottom-navbar></app-bottom-navbar>
