<app-top-navbar></app-top-navbar>
<div class="container page-container">
  <div class="row justify-content-between">
    <h4>{{vistingUser.username}}</h4>
    <span>
      <button [disabled]="isCurrentUserTarget || isFollowing" (click)="followVisitingUser()" class="btn btn-primary mx-2">Follow</button>
      <button [disabled]="isCurrentUserTarget || !isFollowing" (click)="unfollowVisitingUser()" class="btn btn-secondary mx-2">Unfollow</button>
    </span>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 custom-list-box-400">
      <div class="borderedContainer">
        <div class="title-label">
          <h6 class="boxLabel">User Information</h6>
        </div>
        <h6 class="mx-1 my-1">First name:</h6>
        <label class="mx-1">{{vistingUser.firstName}}</label>
        <h6 class="mx-1 my-1">Last name:</h6>
        <label class="mx-1">{{vistingUser.lastName}}</label>
        <h6 class="mx-1 my-1">User type:</h6>
        <label class="mx-1">{{vistingUser.userType}}</label>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 custom-list-box-400">
      <app-user-playlists></app-user-playlists>
    </div>
    <div class="col-xs-12 col-sm-6 custom-list-box-400">
      <div class="borderedContainer">
        <div class="title-label">
          <h6 class="boxLabel">Followers</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let userEntry of followers">
            <div class="d-flex w-100 justify-content-left flex-nowrap" >
              <a class="mb-1 mx-2" routerLink="/user/{{userEntry._id}}">
                <i class="fa fa-user fa-1x mr-2"></i>
                <label>
                  {{getFollowerUsername(userEntry._id)}}
                </label>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 custom-list-box-400">
      <div class="borderedContainer">
        <div class="title-label">
          <h6 class="boxLabel">Following</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let userEntry of following">
            <div class="d-flex w-100 justify-content-left flex-nowrap" >
              <a class="mb-1 mx-2" routerLink="/user/{{userEntry._id}}">
                <i class="fa fa-user fa-1x mr-2"></i>
                <label>
                  {{getFollowingUsername(userEntry._id)}}
                </label>
              </a>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
<app-bottom-navbar></app-bottom-navbar>
