<label>Playlists:</label>
<ul class="list-group list-group-flush">
  <div class="panel-group py-1" [attr.id]="'accordion_' + i" *ngFor="let playlist of playlists; let i = index">
    <div class="panel panel-primary" >
      <div class="panel-heading">
        <label class="panel-title">
          <i class="fa fa-list mx-1"></i><a (click)="setSelectedPlaylist(playlist.name)"
                                            data-toggle="collapse"
                                            [attr.data-parent]="'#accordion_' + i"
                                            [attr.href]="'#collapseOne_' + i">
          {{playlist.name}}
        </a>
        </label>
      </div>
      <div [attr.id]="'collapseOne_' + i" class="panel-collapse collapse in">
        <div class="panel-body">
          <li class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let track of playlist.tracks">
            <div class="d-flex w-100 justify-content-between flex-nowrap" >
              <a class="mx-2" routerLink="/track/{{track.track_id}}"><i class="fa fa-music mr-1"></i><label>{{track.track_name}}</label></a>
              <i class="fa fa-times"></i>
            </div>
          </li>
        </div>
      </div>
    </div>
  </div>
</ul>
