<app-top-navbar></app-top-navbar>
<div class="container center-div mt-5 pt-5">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-6 col-md-offset-6">
      <div *ngIf="userLoggedIn; then UserLoggedInAlert"></div>
      <ng-template #UserLoggedInAlert>
        <div class="alert alert-warning" role="alert">
          A user is already logged in. Please logout first!
        </div>
      </ng-template>
      <div *ngIf="isLoginFailed; then UserLoginFailed"></div>
      <ng-template #UserLoginFailed>
        <div class="alert alert-warning" role="alert">
          Username/password are not correct. Please try again!
        </div>
      </ng-template>
      <h4>Login</h4>
      <input [(ngModel)]="user.username"
             [disabled] = "userLoggedIn"
             placeholder="username"
             class="form-control my-2"/>
      <input [(ngModel)]="user.password"
             type="password"
             placeholder="password"
             [disabled] = "userLoggedIn"
             required
             class="form-control my-2"/>
      <button (click)="login()"
              [disabled] = "userLoggedIn"
              class="btn btn-primary btn-block my-2">
        Login
      </button>
      <div class="d-flex justify-content-between">
        <button routerLink="/home" class="btn btn-primary">Home</button>
        <button routerLink="/register" class="btn btn-success">Register</button>
      </div>
    </div>
  </div>
</div>
<app-bottom-navbar></app-bottom-navbar>
