<app-top-navbar></app-top-navbar>
<div class="container-fluid page-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 custom-list-box-400">
      <div class="borderedContainer">
        <div class="title-label">
          <h6 class="boxLabel">Profile</h6>
        </div>
        <input [(ngModel)]="user.username"
               [disabled] = "userNotLoggedIn"
               placeholder="username"
               class="form-control mb-2"/>
        <input [(ngModel)]="user.firstName"
               [disabled] = "userNotLoggedIn"
               placeholder="first name"
               class="form-control my-2"/>
        <input [(ngModel)]="user.lastName"
               [disabled] = "userNotLoggedIn"
               placeholder="lastName"
               class="form-control my-2"/>
        <input [(ngModel)]="user.email"
               [disabled] = "userNotLoggedIn"
               placeholder="email"
               class="form-control my-2"/>
        <input [(ngModel)]="user.phoneNumber"
               [disabled] = "userNotLoggedIn"
               placeholder="333-222-3232"
               class="form-control my-2"/>
        <input [(ngModel)]="user.address"
               [disabled] = "userNotLoggedIn"
               placeholder="X Street,Boston,MA"
               class="form-control my-2"/>
        <button (click)="update(user)"
                [disabled] = "userNotLoggedIn"
                class="btn btn-primary btn-block my-2">
          Update
        </button>
      </div>
    </div>
    <div *ngIf="userCode === 1 || userCode === 2 ; then FollowingUsers"></div>
    <ng-template #FollowingUsers>
      <div class="col-xs-12 col-sm-6 custom-list-box-400">
        <app-following></app-following>
      </div>
    </ng-template>
    <div *ngIf="userCode === 1 || userCode === 2 ; then Followers"></div>
      <ng-template #Followers>
        <div class="col-xs-12 col-sm-6 custom-list-box-400">
          <app-followers></app-followers>
        </div>
      </ng-template>
    <div class="col-xs-12 col-sm-6 custom-list-box-400">
      <div *ngIf="userCode === 1 || userCode === 2 ; then UserSongs"></div>
      <ng-template #UserSongs>
        <app-rated-songs></app-rated-songs>
      </ng-template>
      <div *ngIf="userCode === 3 ; then AdminSongs"></div>
      <ng-template #AdminSongs>
        <app-all-songs></app-all-songs>
      </ng-template>
    </div>
    <div class="col-xs-12 col-sm-6 custom-list-box-400">
      <div *ngIf="userCode === 1 || userCode === 2 ; then UserPlayList"></div>
      <ng-template #UserPlayList>
        <app-playlists-page></app-playlists-page>
      </ng-template>
      <div *ngIf="userCode === 3 ; then AdminPlayList"></div>
      <ng-template #AdminPlayList>
        <app-all-playlists></app-all-playlists>
      </ng-template>
    </div>
    <div class="col-xs-12 col-sm-6 custom-list-box-400">
      <div *ngIf="userCode === 2 ; then PremiumUserTranslatedSongs"></div>
      <ng-template #PremiumUserTranslatedSongs>
        <app-user-translated-songs></app-user-translated-songs>
      </ng-template>
      <div *ngIf="userCode === 3 ; then AdminAllTranslatedSongs"></div>
      <ng-template #AdminAllTranslatedSongs>
        <app-all-translated-songs></app-all-translated-songs>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="btn-group btn-group-justified px-2" role="group" >
        <div class="btn-group" role="group">
          <button routerLink="/user/search" class="btn btn-primary">Search</button>
        </div>
        <div *ngIf="userCode === 3; then AdminPageLink"></div>
        <ng-template #AdminPageLink>
          <div class="btn-group" role="group">
            <button routerLink="/admin" class="btn btn-success">Admin</button>
          </div>
        </ng-template>
        <div class="btn-group" role="group">
          <button [disabled] = "userNotLoggedIn" (click)="logout()" class="btn btn-danger" >Logout</button>
        </div>
      </div>
  </div>
</div>
<app-bottom-navbar></app-bottom-navbar>
