<app-top-navbar></app-top-navbar>
<div class="container-fluid page-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 custom-list-box-400">
      <div class="borderedContainer">
        <div class="title-label">
          <h6 class="boxLabel">Profile</h6>
        </div>
        <input [(ngModel)]="user.username"
               [disabled] = "userNotLoggedIn"
               placeholder="username"
               class="form-control mb-2"/>
        <input [(ngModel)]="user.firstName"
               [disabled] = "userNotLoggedIn"
               placeholder="first name"
               class="form-control my-2"/>
        <input [(ngModel)]="user.lastName"
               [disabled] = "userNotLoggedIn"
               placeholder="lastName"
               class="form-control my-2"/>
        <input [(ngModel)]="user.email"
               [disabled] = "userNotLoggedIn"
               placeholder="email"
               class="form-control my-2"/>
        <input [(ngModel)]="user.phoneNumber"
               [disabled] = "userNotLoggedIn"
               placeholder="333-222-3232"
               class="form-control my-2"/>
        <input [(ngModel)]="user.address"
               [disabled] = "userNotLoggedIn"
               placeholder="X Street,Boston,MA"
               class="form-control my-2"/>
        <button (click)="update(user)"
                [disabled] = "userNotLoggedIn"
                class="btn btn-primary btn-block my-2">
          Update
        </button>
        <button id="openAlertButton"
                [hidden]="true"
                data-toggle="modal"
                data-target="#profileUpdatedAlert">
        </button>
      </div>
    </div>
    <div *ngIf="userCode === 1 || userCode === 2 ; then FollowingUsers"></div>
    <ng-template #FollowingUsers>
      <div class="col-xs-12 col-sm-6 custom-list-box-400">
        <app-following></app-following>
      </div>
    </ng-template>
    <div *ngIf="userCode === 1 || userCode === 2 ; then Followers"></div>
      <ng-template #Followers>
        <div class="col-xs-12 col-sm-6 custom-list-box-400">
          <app-followers></app-followers>
        </div>
      </ng-template>
    <div class="col-xs-12 col-sm-6 custom-list-box-400">
      <div *ngIf="userCode === 1 || userCode === 2 ; then UserSongs"></div>
      <ng-template #UserSongs>
        <app-rated-songs></app-rated-songs>
      </ng-template>
      <div *ngIf="userCode === 3 ; then AdminSongs"></div>
      <ng-template #AdminSongs>
        <div class="borderedContainer">
          <div class="title-label">
            <h6 class="boxLabel">All Songs:</h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let track of tracks">
              <div class="d-flex w-100 justify-content-between flex-nowrap" >
                <a class="mb-1 mx-2" routerLink="/track/{{track.track_id}}">
                  <i class="fa fa-music fa-1x mr-2"></i>
                  <label>
                    {{track.track_name}}
                  </label>
                </a>
                <i (click)="deleteSong(track.track_id)" class="fa fa-times fa-2x"></i>
              </div>
            </li>
          </ul>
        </div>
      </ng-template>
    </div>
    <div class="col-xs-12 col-sm-6 custom-list-box-400">
      <div *ngIf="userCode === 1 || userCode === 2 ; then UserPlayList"></div>
      <ng-template #UserPlayList>
        <app-playlists-page></app-playlists-page>
      </ng-template>
      <div *ngIf="userCode === 3 ; then AdminPlayList"></div>
      <ng-template #AdminPlayList>
        <div class="borderedContainer">
          <div class="title-label">
            <h6 class="boxLabel">Playlists</h6>
          </div>
          <ul class="list-group list-group-flush">
            <div class="panel-group py-1" [attr.id]="'accordion_' + i" *ngFor="let playlist of playlists; let i = index">
              <div class="panel panel-primary" >
                <div class="panel-heading">
                  <div class="d-flex w-100 justify-content-between flex-nowrap">
                    <label class="panel-title">
                      <a (click)="setSelectedPlaylist(playlist.name)"
                         data-toggle="collapse"
                         [attr.data-parent]="'#accordion_' + i"
                         [attr.href]="'#collapseOne_' + i">
                        <i class="fa fa-list mx-1"></i>{{playlist.name}}
                      </a>
                    </label>
                    <span>
            <a routerLink="/playlist/{{playlist._id}}" class="btn btn-sm btn-primary mx-2">Go to playlist</a>
            <i (click)="deletePlaylist(playlist._id)" class="fa fa-times mr-1"></i>
          </span>
                  </div>
                </div>
                <div [attr.id]="'collapseOne_' + i" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <li class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let track of playlist.tracks">
                      <div class="d-flex w-100 justify-content-left flex-nowrap" >
                        <a class="mx-2" routerLink="/track/{{track.track_id}}"><i class="fa fa-music mr-1"></i><label>{{track.track_name}}</label></a>
                      </div>
                    </li>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </ng-template>
    </div>
    <div class="col-xs-12 col-sm-6 custom-list-box-400">
      <div *ngIf="userCode === 2 ; then PremiumUserTranslatedSongs"></div>
      <ng-template #PremiumUserTranslatedSongs>
        <app-user-translated-songs></app-user-translated-songs>
      </ng-template>
      <div *ngIf="userCode === 3 ; then AdminAllTranslatedSongs"></div>
      <ng-template #AdminAllTranslatedSongs>
        <div class="borderedContainer">
          <div class="title-label">
            <h6 class="boxLabel">All Translated Songs:</h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let track of trTracks">
              <div class="d-flex w-100 justify-content-left flex-nowrap" >
                <a class="mb-1 mx-2" routerLink="/track/{{track.track_id}}">
                  <i class="fa fa-music fa-1x mr-2"></i>
                  <label>
                    {{track.track_name}}
                  </label>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="btn-group btn-group-justified px-2" role="group" >
        <div class="btn-group" role="group">
          <button [disabled] = "userNotLoggedIn" routerLink="/user/search" class="btn btn-primary">Search</button>
        </div>
        <div *ngIf="userCode === 3; then AdminPageLink"></div>
        <ng-template #AdminPageLink>
          <div class="btn-group" role="group">
            <button routerLink="/admin" class="btn btn-success">User console</button>
          </div>
        </ng-template>
        <div class="btn-group" role="group">
          <button [disabled] = "userNotLoggedIn" (click)="logout()" class="btn btn-danger" >Logout</button>
        </div>
      </div>
  </div>
  <div id="profileUpdatedAlert" tabindex="-1" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Profile updated sucessfully!</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-bottom-navbar></app-bottom-navbar>
