<app-top-navbar></app-top-navbar>
<div class="container-fluid my-1 py-5">
  <div class="row">
    <div class="col-xs-12 col-sm-6 custom-list-box-400">
      <label>Profile</label>
      <input [(ngModel)]="user.username"
             [disabled] = "userNotLoggedIn"
             placeholder="username"
             class="form-control mb-2"/>
      <input [(ngModel)]="user.firstName"
             [disabled] = "userNotLoggedIn"
             placeholder="first name"
             class="form-control my-2"/>
      <input [(ngModel)]="user.lastName"
             [disabled] = "userNotLoggedIn"
             placeholder="lastName"
             class="form-control my-2"/>
      <input [(ngModel)]="user.email"
             [disabled] = "userNotLoggedIn"
             placeholder="email"
             class="form-control my-2"/>
      <input [(ngModel)]="user.phoneNumber"
             [disabled] = "userNotLoggedIn"
             placeholder="333-222-3232"
             class="form-control my-2"/>
      <input [(ngModel)]="user.address"
             [disabled] = "userNotLoggedIn"
             placeholder="X Street,Boston,MA"
             class="form-control my-2"/>
      <button (click)="update(user)"
              [disabled] = "userNotLoggedIn"
              class="btn btn-primary btn-block my-2">
        Update
      </button>

      <div class="d-flex justify-content-between">
        <button routerLink="/home" class="btn btn-primary">Home</button>
        <div *ngIf="userCode === 3; then AdminPageLink"></div>
        <ng-template #AdminPageLink>
          <button routerLink="/admin" class="btn btn-primary">Admin</button>
        </ng-template>
        <button [disabled] = "userNotLoggedIn" (click)="logout()" class="btn btn-danger">Logout</button>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 custom-list-box-400">
      <div *ngIf="userCode === 1 || userCode === 2 ; then UserSongs"></div>
      <ng-template #UserSongs>
        <app-rated-songs></app-rated-songs>
      </ng-template>
      <div *ngIf="userCode === 3 ; then AdminSongs"></div>
      <ng-template #AdminSongs>
        <app-all-songs></app-all-songs>
      </ng-template>
    </div>
    <div class="col-xs-12 col-sm-6 custom-list-box-400">
      <div *ngIf="userCode === 1 || userCode === 2 ; then UserPlayList"></div>
      <ng-template #UserPlayList>
        <app-playlists-page></app-playlists-page>
      </ng-template>
      <div *ngIf="userCode === 3 ; then AdminPlayList"></div>
      <ng-template #AdminPlayList>
        <app-all-playlists></app-all-playlists>
      </ng-template>
    </div>
  </div>
</div>
<app-bottom-navbar></app-bottom-navbar>
