/* You can add global styles to this file, and also import other style files */
body, html {
  height: 100%;
  /* The image used */
  background: url('./assets/alt1.jpg') center no-repeat fixed #464646;
  background-size: cover;
  position: relative;
}

.custom-list-box-400 {
  margin-bottom: 20px;
  margin-top: 2px;
}
.custom-list-box-400 ul{
  overflow-y: auto;
  height: 315px;
}

.page-container{
  padding-top: 80px;
  padding-bottom: 50px;
}

.center-div {
  margin: 0 auto;
  width:80%
}

.list-group-item:nth-of-type(even){
  background-color: aqua;
  cursor: pointer;
}
.list-group-item:nth-of-type(odd){
  background-color: #f2f2f2;
  cursor: pointer;
}
.list-group-item:hover{
  background-color: lightblue;
}

.panel:nth-of-type(even){
  background-color: aqua;
  cursor: pointer;
}
.panel:nth-of-type(odd){
  background-color: #f2f2f2;
  cursor: pointer;
}
.panel:hover{
  background-color: lightblue;
}

.fa-times {
  color: red;
}
a:hover{
  cursor: pointer;
}
a,
a label {
  cursor: pointer;
}

thead tr {
  background-color: slategrey;
}
th, td {
  text-align: left;
  padding: 15px;
  border-bottom: 2px solid #ddd;
}

tr {
  background-color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: lightblue;
}

.borderedContainer {
  border: 1px outset grey;
  border-radius: 5px;
  margin-top: 5px;
  background-color: whitesmoke;
}
.title-label {
  background-color: wheat;
  height: 30px;
}
.boxLabel {
  padding: 5px;

}
