.container-custom {
  min-height: 100%;
  min-height: 100vh;
}

.vertical-center {
  min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 80vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.Search1 {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  left:0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  pointer-events: none;
}
.Search1 input{
  font-family: "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 39px;
  width: 80%;
  background: transparent;
  color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid black;
  outline: none;
  border-radius: 37px;
  padding: 0 10px;
  pointer-events: all;
  -webkit-transition: border .25s ease, width .125s ease .125s;
  transition: border .25s ease, width .125s ease .125s;
}
.Search1 input:focus {
  border: 2px solid #e50914;
  width: 100%;
}

.LandingText {
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 80px;
}
