th, td {
  text-align: left;
  padding: 15px;
  border-bottom: 2px solid #ddd;
}

tr {
  background-color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: lightblue;
}
